*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 850px;
    background-color: lightcoral;
}

.debug{
    border: 1px solid black;
}

.topbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    align-items: center;
}

.flex{
    display: flex;
}

.logo{

}

.menu{

}

.topbar .menu ul{
    display: flex;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;

}

.container-lg{
    max-width: 1200px;
    margin: 0 auto;
}

.jumbotron{
    background-color: #B4D0E7;
    height: 100%;
}

.jumbotron .container-lg h1{
    font-size: 4rem;
    text-align: center;
    padding-top: 50px;
}

.box-jumbotron{
    height: 530px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    background-color: blueviolet;
    position: relative;
    top: 40px;
}

.jumbotron-text{
    width: 30%;
    height: 100%;
}

.jumbotron-img{
    width: 70%;
    height: 100%;
}

.business{
    height: 2000px;
    background-color: yellow;
}



