*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 850px;
    background-color: lightcoral;
}

footer{
    background-color: black;
    height: 580px;
    color: white;
}

.debug{
    border: 1px solid black;
}

.topbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    align-items: center;
}

.flex{
    display: flex;
}

.logo{

}

.menu{

}

.topbar .menu ul{
    display: flex;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;

}

.container-lg{
    max-width: 1200px;
    margin: 0 auto;
}

.jumbotron{
    background-color: #B4D0E7;
    height: 100%;
}

.jumbotron .container-lg h1{
    font-size: 4rem;
    /* text-align: center; */
    padding-top: 50px;
}

.box-jumbotron{
    height: 500px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    background-color: blueviolet;
    margin-top: 45px;

}

.jumbotron-text{
    width: 30%;
    height: 100%;
}

.jumbotron-img{
    width: 70%;
    height: 100%;
}

.business{
    height: 2000px;
    background-color: yellow;
}

.business .container-sm h2{
    padding-top: 80px;
    font-size: 2.5rem;
}

.fatturazione{
    padding-top: 30px;
}

.button-business{
    font-size: 1.2rem;
}

.colonne-business{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
}

.colonna-piano{
    width: calc(100% / 3 - 40px);
    border: 1px solid black;
    height: 1000px;
}

.top-colonna-piano{
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
}

.box-enterprise{
    width: 100%;
    height: 350px;
    padding-top: 30px;
}

.top-box-enterprise{
    height: 15%;
    background-color: lightpink;
}

.bottom-box-enterprise{
    display: flex; 
    height: 85%;
}

.bottom-box-enterprise-sx{
    height: 100%;
    width: 70%;
    background-color: darksalmon;
}

.bottom-box-enterprise-dx{
    height: 100%;
    width: 30%;
    background-color: chocolate;
}








