*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 730px;
}

footer{
    background-color: black;
    height: 480px;
}

.debug{
    border: 1px solid black;
}

.topbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    align-items: center;
}

.topbar-sx{
    align-items: center;
}

.flex{
    display: flex;
}

.logo{
    padding-right: 45px;
}

.menu{

}

.topbar .menu ul{
    display: flex;
    list-style: none;   
}

.topbar .menu a{
    text-decoration: none;
    color: black;
}

.topbar-dx{
    display: flex;
    align-items: center;
}

.topbar ul{
    display: flex;
    list-style: none;   
}

.topbar a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.tasto-inizia{
    background-color: #0061FF;
    color: white;
    padding: 6px;
}

.tasto-inizia > a{
    color: white;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

.container-lg{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.jumbotron{
    background-color: #B4D0E7;
    height: 100%;
}

.jumbotron .container-lg h1{
    font-size: 4rem;
    /* text-align: center; */
    padding-top: 50px;
}

.box-jumbotron{
    height: 445px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    margin-top: 45px;

}

.jumbotron-text{
    width: 30%;
    height: 100%;
    padding: 10px 10px 10px 0;
}

.tasto-prova{
    background-color: #0061FF;
    color: white;
    width: 220px;
    padding: 11px;
    margin: 35px 0;
}

.arrow-jumbotron{
    font-size: 2.5rem;
    padding-top: 100px;
}

.jumbotron-img{
    width: 70%;
    height: 100%;
    overflow: hidden;
    
}

.jumbotron-img > img{
    object-fit: cover;
    max-width: 100%;
}

.business{

}

.business .container-sm h2{
    padding: 80px 0;
    font-size: 2.5rem;
}

.fatturazione{
    padding-top: 30px;
}

.button-business{
    font-size: 1.2rem;
}

.colonne-business{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
}

.colonna-piano{
    width: calc(100% / 3 - 40px);
    border: 1px solid black;
    height: 1000px;
}

.top-colonna-piano{
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
}

.box-enterprise{
    width: 100%;
    height: 350px;
    padding-top: 30px;
}

.top-box-enterprise{
    height: 15%;
    background-color: lightpink;
}

.bottom-box-enterprise{
    display: flex; 
    height: 85%;
}

.bottom-box-enterprise-sx{
    height: 100%;
    width: 70%;
    background-color: darksalmon;
}

.bottom-box-enterprise-dx{
    height: 100%;
    width: 30%;
    background-color: chocolate;
}

.trova-partner{
    height: 700px;
    padding-top: 50px;
}

.box-tova-partner{
    height: 100%;
    display: flex;
    
}

.trova-partner-img{
    background-color: lightslategrey;
    width: 60%;
}

.trova-partner-text{
    width: 40%;  
    padding: 60px 30px;
}

.trova-partner-text > h3{
    font-size: 1.5rem;
}

.trova-partner-text > p{
    padding-top: 25px;
    font-size: 1.1rem;
    line-height: 22px;
    padding-bottom: 60px;
}

.padding-top-sm{
    padding-top: 25px;
}

.botton-trova-partner{
    padding: 10px;
}

.box-dropbox-business{
    height: 1000px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.card-dropbox{
    width: calc(100% / 3);
    height: calc(100% / 2);
}

.card-dropbox-img{
    height: 50%;
}

.card-dropbox-text{
    height: 50%;
}

.dropbox-business-bottom{
    height: 450px;
    padding-right: 300px;
}

.dropbox-business-bottom a{
    color: #7D50A6;
    padding-top: 50px;
}      

.designit{
    height: 650px;
    width: 100%;
}

.box-designit{
    height: 100%;
    display: flex;
}

.card-designit{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logo-brand{
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.porta-dropbox-azienda{
    background-color: #B4D0E7;
}

.box-porta-dropbox-azienda{
    height: 300px;
    display: flex;
}

.porta-dropbox-azienda-sx{
    width: 50%;
    display: flex;
    align-items: center;
}

.porta-dropbox-azienda-sx > h2{
    font-size: 2.3rem;
    color: #61082B;
}

.porta-dropbox-azienda-dx{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.botton-trova-partner{
    padding: 10px 40px;
    background-color: white;
}

.faq{
    height: 710px;
    width: 100%;
}

.box-faq{
    padding: 100px 0;
}

.faq-row{
    width: 100%;
    height: 105px;
    border-bottom: 1px solid black;
}

.box-faq > h2{
    font-size: 2.5rem;
    padding-bottom: 100px;
}

.box-faq-row{
    border-top: 1px solid black;
}

.faq-row-text{
    display: flex;
    justify-content: space-between;
    line-height: 105px;
}

.box-footer{
    height: 75%;
    display: flex;
}

.colonne-footer{
    height: 100%;
    width: calc(100% / 5);
    padding: 50px 10px 10px 10px;
}

.colonne-footer > h3{
    color: white;
    font-size: 1.5rem;
    padding: 15px 0;
}

.colonne-footer a{
    color: white; 
    text-decoration: none;
    list-style: none;
}

.colonne-footer li{
    list-style: none;
    padding: 7px 0;
}

.barra-footer{
    width: 100px;
    border: 1px solid white;
}

.language{
    color: #999999;
    padding: 10px 0;
}




